<!-- Form starts -->
<div style="width: 400px; margin: auto;">
  <div *ngIf="submit.submitted && !submit.success">
    <h4>{{submit.message}}</h4>
    <ul>
      <li *ngFor="let error of submit.errors">{{error}}</li>
    </ul>
  </div>
  <div *ngIf="!submit.submitted">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">

      <label>
        Title:
        <input type="text" formControlName="title" />
      </label>

      <label>
        Category:
        <select formControlName="category" class="custom-select">
          <option *ngFor="let bookCategory of bookCategories">{{bookCategory}}</option>
        </select>
      </label>

      <label>
        Published:
        <input type="checkbox" formControlName="published" />
      </label>

      <button type="submit">Submit</button>
    </form><!-- Form ends -->
  </div>
  <div *ngIf="submit.submitted && submit.success">
    <h4>{{submit.message}}</h4>
    <button class="btn btn-success" (click)="newBook()">New Book</button>
  </div>
</div>