<div style="width: 400px; margin: auto;">
  <div *ngIf="submit.submitted && !submit.success">
    <h4>{{submit.message}}</h4>
    <ul>
      <li *ngFor="let error of submit.errors">{{error}}</li>
    </ul>
  </div>
  <div *ngIf="!(submit.submitted && submit.success)">
    <!-- Form starts -->
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">

      <div class="form-control">
        <label>
          Title:
          <input type="text" formControlName="title" />
        </label>

        <div *ngIf="bookFormControls.title.touched || submit.submitted">
          <span *ngIf="bookFormControls.title.errors?.required">
            Title is required.
          </span>

          <span *ngIf="bookFormControls.title.errors?.maxlength">
            Title max length is 5 characters.
          </span>

          <span *ngIf="bookFormControls.title.errors?.minlength">
            Title min length is 3 characters.
          </span>
        </div>
      </div>

      <div class="form-control">
        <label>
          Category:
          <select formControlName="category" class="custom-select">
            <option *ngFor="let bookCategory of bookCategories">{{bookCategory}}</option>
          </select>
        </label>
      </div>

      <div class="form-control">
        <label>
          Published:
          <input type="checkbox" formControlName="published" class="form-control" />
        </label>
      </div>

      <button type="submit">Submit</button>
    </form><!-- Form ends -->
  </div>
  <div *ngIf="submit.submitted && submit.success">
    <h4>{{submit.message}}</h4>
    <button class="btn btn-success" (click)="newBook()">New Book</button>
  </div>
</div>